{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ exam.name }} | <span class="text-muted"></span>exam is finished</strong>
        <span>
          <form class="form-inline" method="GET" action="{% url 'core:student-exams' %}" style="display:inline!important;">
            <button class="btn btn-secondary btn-sm" type="submit"><img class="light" src="{% static 'webfonts/list-ol-solid.svg' %}" width="20" height="20" alt=""> Exams</button>
          </form>
        </span>
      </li>
  </ul>
</div>

<div class="card card-shadow">
  <div class="card-header">
    <strong>{{ exam.name }} | </strong>statistics
  </div>
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">Score: {{ user_exam.score }}/{{ exam.total_close_points }}[points]</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Percentage: {{ user_exam.score_close_percentage|floatformat:-2 }}/{{ exam.pass_percentage }}[%]</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Duration: {{ user_exam.duration_seconds }}/{{ exam.exam_minutes }}[min.]</li>
      <li class="list-group-item d-flex justify-content-between align-items-center">Is passed: {{ user_exam.is_passed }}</li>
  </ul>
</div>


{% endblock content %}
