{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ exam.name }} | <span class="text-muted" id="timer"></span></strong>
        <span>

          {% if previous %}
            <form class="form-inline" method="POST" action="{% url 'core:student-exam-progress' pk=invitation.id id=previous %}" style="display:inline!important;">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm tab" type="submit"><i class="fas fa-caret-left"></i></button>
            </form>
          {% endif %}
          {% if next %}
            <form class="form-inline" method="POST" action="{% url 'core:student-exam-progress' pk=invitation.id id=next %}" style="display:inline!important;">
              {% csrf_token %}
              <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-caret-right"></i></button>
            </form>
          {% endif %}

          <form class="form-inline" method="POST" action="{% url 'core:student-exam-finish' pk=invitation.id %}" style="display:inline!important;">
            {% csrf_token %}
            <button class="btn btn-secondary btn-sm tab proceed" type="submit"><i class="fas fa-flag-checkered"></i></button>
          </form>
          <form class="form-inline" method="POST" action="{% url 'core:student-exam-finish' pk=invitation.id %}" style="display:inline!important;">
            {% csrf_token %}
            <button hidden id="finish_exam" type="submit">></button>
          </form>
        </span>
      </li>
  </ul>
</div>

{% if question %}
<div class="card card-shadow">
  <div class="card-header d-flex justify-content-between align-items-center">
    <span>
      <strong>[{{ id }} of {{ question_count }}] {{ question.question }} | </strong>Points: [ {{ question.max_points }} ]
    </span>
    <span>
      <button form="answer_form" class="btn btn-primary btn-sm tab" name="answer" value="submit" type="submit"><i class="far fa-save"></i> Save</button>
    </span>
  </div>
  <ul class="list-group">
    <form id="answer_form" method="POST"style="display:inline!important;">
      {% csrf_token %}
      <input type="hidden" name="question_id" value="{{ question.id }}">
      {% for choice in question.closechoice_set.all %}
      <li id="li_{{ choice.id }}" class="list-group-item d-flex justify-content-between align-items-center" href="">{{ choice.choice }}
        <input hidden type="checkbox" id="choice_{{ choice.id }}" name="{{ choice.id }}">
      </li>
      {% endfor %}
    </form>
  </ul>
</div>

{% endif %}






<!-- this hidden element holds actual number of seconds required to set -->
<!-- countdown timer properly -->
<span hidden id="seconds">{{ seconds }}</span>

{% endblock content %}
