{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Exams available | <span class="text-muted">invitation list</span></strong></li>
  </ul>
</div>

<div class="card card-shadow">
  <ul class="list-group">
    {% if object_list %}
      {% for invitation in object_list %}
        {% if invitation.is_passed != True %}
          <li class="list-group-item d-flex justify-content-between align-items-center">{{ invitation.exam.name }} | created by: {{ invitation.exam.teacher }} | {{ invitation.exam.exam_minutes }} min.
            <span>
              <span class="badge badge-info badge-pill">{{ invitation.exam.close_question_number }}</span>
              <form class="form-inline" method="POST" action="{% url 'core:student-exam-progress' pk=invitation.id id=1 %}" style="display:inline!important;">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm tab proceed" type="submit"><i class="fas fa-file-signature"></i> Start</button>
              </form>
            </span>
          </li>
        {% else %}
          <li class="list-group-item d-flex justify-content-between align-items-center bg-light-blue">{{ invitation.exam.name }} | created by: {{ invitation.exam.teacher }} | {{ invitation.exam.exam_minutes }} min.
            <span>
              <span class="badge badge-info badge-pill">{{ invitation.exam.close_question_number }}</span>
              <form class="form-inline" method="POST" action="" style="display:inline!important;">
                {% csrf_token %}
                <button class="btn btn-secondary btn-sm tab" type="submit"><i class="fas fa-medal"></i> Stats</button>
              </form>
            </span>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      <li class="list-group-item d-flex justify-content-between align-items-center">No Exams passed.</li>
    {% endif %}
  </ul>
</div>

{% endblock content %}
