{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Exams available | <span class="text-muted">invitation list</span></strong></li>
  </ul>
</div>

<div class="card card-shadow">
  <ul class="list-group">
    {% if object_list %}
      {% for invitation in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{ invitation.exam.name }} | created by: {{ invitation.exam.teacher }} | {{ invitation.exam.exam_minutes }} min.
          <span>
            <form class="form-inline" method="POST" action="{% url 'core:student-exam-progress' pk=invitation.id %}" style="display:inline!important;">
              {% csrf_token %}
              <button class="btn btn-secondary btn-sm tab proceed" type="submit"><img class="light" src="{% static 'webfonts/file-signature-solid.svg' %}" width="20" height="20"> Start</button>
            </form>
          </span>
        </li>
      {% endfor %}
    {% else %}
      <li class="list-group-item d-flex justify-content-between align-items-center">No Exams passed.</li>
    {% endif %}
  </ul>
</div>

{% endblock content %}
