{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" href="{% url 'core:exam' pk=object.id %}"><strong>{{ object.name }} |  <span class="text-muted">invitation</strong>
        <form class="form-inline" method="GET" action="{% url 'core:exam-invite' pk=exam.id %}" style="display:inline!important;">
          <button class="btn btn-secondary btn-sm tab" type="submit"><img class="light" src="{% static 'webfonts/user-plus-solid.svg' %}" width="20" height="20"></button>
        </form>
      </li>
  </ul>
</div>

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>Exam statistic to be implemented.</strong>

      </li>
  </ul>
</div>



</div>

{% endblock content %}
