body {
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}

body a{
  padding-left: 10px;
  padding-right: 10px;
}

.form-row {
  margin-right: 20px;
}

.bg-owner {
  background-color: rgba(133, 20, 75, 0.7);
}

.card-shadow {
  box-shadow: 5px 10px 8px #888888;
}

img.icon {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

img.light {
  -webkit-filter: invert(100%);
}

div.card {
  margin-bottom: 20px;
}

form.card {
  margin-bottom: 15px;
}

.tab {
       display:inline-block;
       margin-left: 10px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(210, 210, 210, 1); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 18px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
