{% extends "owner_layout.html" %}
{% block content %}
{% load crispy_forms_tags %}


  <form class="form-group" method="post">{% csrf_token %}
      {{ form|crispy }}
      <hr>
      <button class="btn btn-secondary" type="submit" name="action" value="commit">Add</button>
  </form>



{% if exams %}

<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
        <th>Manage</th>
        <th>Exam description</th>
    </tr>
  </thead>
  <tbody>
    {% for exam in exams %}
      <tr>
        <td>
          <form method="post" style="display:inline!important;">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ exam.id }}">
            <button class="btn btn-danger btn-sm" name="action" value="delete" type="submit">D</button>
            <button class="btn btn-warning btn-sm" name="action" value="edit" type="submit">E</button>
          </form>
        </td>
        <td>{{ exam.name }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock content %}
