{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}

  <form class="form-group" method="post">{% csrf_token %}
      {{ form|crispy }}
      <hr>
      <button class="btn btn-secondary" type="submit" name="action" value="commit">Add</button>
  </form>

{% if exams %}

<div class="card border-secondary mb-3">
  <div class="card-header">
    <table class="table table-sm table-bordered">
      <thead class="thead-light">
        <tr>
            <th>Manage</th>
            <th>Exam description</th>
        </tr>
      </thead>
      <tbody>
        {% for exam in exams %}
          <tr>
            <td>
              <form method="post" action="{% url 'core:exam-delete' id=exam.id %}" style="display:inline!important;">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm" name="action" value="delete" type="submit">D</button>
              </form>
            </td>
            <td><a href="{% url 'core:exam' id=exam.id %}">{{ exam.name }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% endif %}

{% endblock content %}
