{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div id="first-question" class="card card-shadow">
  <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{ exam.name }} |  <span class="text-muted">invite for exam</span></strong>
        <span>
          <button class="btn btn-primary btn-sm" onclick="window.history.back();"><img class="light" src="{% static 'webfonts/undo-alt-solid.svg' %}" width="20" height="20"></button>
        </span>
      </li>
  </ul>
</div>

<form method="POST">
  {% csrf_token %}

  <div id="first-question" class="card card-shadow">
    <ul class="list-group">
        <li class="list-group-item">{{ form.email|as_crispy_field }}
          <span>
            <button type="submit" class="btn btn-primary"><img class="light" src="{% static 'webfonts/user-plus-solid.svg' %}" width="20" height="20"> Invite</button>
          </span>
        </li>
    </ul>
  </div>

</form>


{% endblock content %}
