<form class="card card-shadow" id="close-question-form" method="POST" action="">
  {% csrf_token %}
  <div class="cadr-body alert alert-secondary card-shadow">
    <div class="row">
      <div class="col-12 col-md-10">
        {{ closeform.question|as_crispy_field }}
      </div>
      <div class="col-6 col-md-2">
        {{ closeform.max_points|as_crispy_field }}
      </div>
    </div>
  </div>



  {{ formset.management_form|crispy }}
  {% for form in formset %}
  <div id="open-question" class="card-body form-row form-inline">
    {{ form.choice|as_crispy_field }}
    <div class="form-check tab">
        {{ form.is_true|as_crispy_field }}
    </div>
    <button type="button" class="btn btn-secondary add-form-row tab"><img class="light" src="{% static 'webfonts/plus-circle-solid.svg' %}" width="20" height="20"></button>
  </div>
  {% endfor %}
</form>
